<div class="container">
  <div class="outer-title">
    <h1 class="title">Container</h1>
  </div>
    <div class="control-container">
      <div class="inner-title">
        <h1 class="title">Container</h1>
      </div>
      <configurator-control
    *ngFor="let control of container.controls"
    [cardImg]="control.imageRef || 'assets/Rectangle.png'"
    [cardTitle]="control.title || 'Untitled Control'"
    [cardText]="control.description || 'No description'"
    [controlType]="control.controlSet || 'controlERR'">
    </configurator-control>
        
    </div>
</div>
