<div class="container">
    <h1 class="title">Container</h1>
    <div class="control-container">
        <configurator-control 
          *ngFor="let control of controlsData"
          [cardImg]="control.imageRef"
          [cardTitle]="control.title"
          [cardText]="control.description"
          [cardId]="control.controlId"
          [controlType]="control.controlSet"
          [selectedControls]="selectedControls"
          class="control">
        </configurator-control>
    </div>
</div>
