<div class="container">
  <div class="outer-title" *ngIf="!containerTitleInside">
    <h1 class="title">{{containerTitle}}</h1>
    <hr *ngIf="containerDivider" class="inner-title-divider">
  </div>
    <div class="control-container">
      <div class="inner-title"  *ngIf="containerTitleInside">
        <h1 class="title">{{containerTitle}}</h1>
        <hr *ngIf="containerDivider" class="inner-title-divider">
      </div>
      <div class="search-container">
        <search-bar />
      </div>
      <div class="filter-container">
        <filter-bar [tags]="tags" />
      </div>

      <configurator-control
    *ngFor="let control of container.controls; let i = index"
    [cardImg]="control.imageRef || ''"
    [cardTitle]="control.title || ''"
    [cardText]="control.description || ''"
    [controlType]="control.controlSet || ''"
    [controlId]="control.controlId || ''"
    (changeSelected)="changeSelected(i)"
    [dividerTF] = "control.divider || false"
    >
    </configurator-control>
        
    </div>
</div>
