<div class="container">
    <div class="filter-container">
        <filter-tag filterName="filter 1" />
        <filter-tag filterName="filter 2" />
        <filter-tag filterName="Name for a filter" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="some sort of filter" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="The best filter" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="filter" />
        <filter-tag filterName="This is a filter" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="filter 3" />
        <filter-tag filterName="filter" />
        <filter-tag filterName="random name" />
        
    </div>
    <div class="button-container">
        <div class="button">Select All</div>
        <div class="button">Clear All Filters</div>
    </div>
</div>
